# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/
env/

# Cache
.cache/
*.cache
*.sqlite
bio_extractors/bio_extractors_cache/
bio_extractors/bio_extractors_cache.sqlite

# Logs
*.log

# Virtual environments
bio_extractors/venv/

